<nav class="main-nav d-flex">
      <a href="/login">Login</a>
      <a href="/register">Register</a>
      <a href="/chat">Chat</a>
      <a href="/user">User Profile</a>
      <a href="/404">404</a>
</nav>