<div class="form-wrapper">
  <h2 class="title">{{title}}</h2>
  <form id="login-form">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" />
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" />
    {{> button/button class="btn" type="submit" text="Register"}}
  </form>
</div>